.cardSection{
    /* style={{ display: 'flex', flexWrap: 'wrap', gap: '3rem' }} */
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 10vh;

}
.albumText{
    /* style={{color:"white",display:"flex",alignItems:"center",justifyContent:"space-between"}} */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.albumText button{
    color: #34C94B;
    padding: 1rem;
    font-size: 20px;
    background-color: black;
    border: none;

}