button{
    /* height:"2rem",borderRadius:"6px",outline:"none",width:"25rem" */
    height: 2rem;
    border-radius: 6px;
    outline: none;
    width: 25rem;
    font-style: poppins;
}
button:hover{
    cursor: pointer;
}