.button{
    /* height:"2rem",borderRadius:"6px",outline:"none",width:"25rem" */
    color:#34C94B;
    height: 2rem;
    border-radius: 5px;
    width: 10rem;
    background-color: #121212;
    font-family: Poppins;
}
.button:hover{
    cursor: pointer;
}

/*  */
/* {{color:"#34C94B", height:"2rem",borderRadius:"5px", width:"10rem",backgroundColor:"#121212"}} */