.wrapper{
    background-color: var(--color-black);
}
.heroImageWrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

h1{
    /* color: var(--color-white);
     */
   
}